{% extends 'home/layout_home.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Line</li>
{% endblock %}

{% block content %}
<!--<link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon">-->

<style>
    /* status page */
    ol.breadcrumb {
        background-color: #FAF2F1;
    }
    @media (min-width: 576px) {
        .col-sm-6 {
            width: 50%;
            max-width: 50%;
            float: left;
        }
    }
    @media (min-width: 768px) {
        .mb-md-0 {
            margin-bottom: 0!important;
        }
        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
            float: left;
        }
    }
    .col-md-6 {
        position: relative;
    }
    /*  menu  */
    .row {
        margin-right: -15px;
    }

    @media (min-width: 992px) {
        .col-lg-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-md-12 {
            width: 100%;
        }
    }
    .col-sm-3, .col-md-3, .col-md-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    /* icon menu */
    .card {
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    }

    .card i {
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    }

    .card h4, .card i, .card p {
    position: relative;
    }

    .card h4 {
    transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    }

    .card p {
    transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    }

    .card:hover h4 {
    color: #fff;
    }

    .card:hover svg {
    color: #fff;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    }

    .card:hover p {
    color: rgba(255, 255, 255, 0.8);
    }

    .text-lg {
    font-size: 50px;
    }

    .card:before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -500px;
    width: 100%;
    height: 100%;
    background: rgba(207, 21, 45, 0.88);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    }

    .card:hover:before {
    bottom: 0px;
    }
    h4 {
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
    }
    .text-color{
        color: #cf152d
    }
    .mb-4 {
        margin-bottom: 1.5rem!important;
    }
    .card-title {
        margin-top: 1.5rem!important;
    }

</style>
{% csrf_token %}
    <div class="machine-data-header">

        <div class="page-header row no-gutters py-4">
            {% for line in product_line %}
            <div class="col-12 col-sm-4 text-sm-left mb-0">
<!--                <span class="text-uppercase page-subtitle">Overview</span>-->
                <h2 class="page-title">{{line.location_site}} Production Line : {{line.production_line}}</h2>
                <h5 class="page-title">ผลิตภัณฑ์</h5>
                {% for pd in products %}
                &nbsp;&nbsp;<span class="text-uppercase page-subtitle"> - {{pd.product_name}} ({{pd.product_code}})</span><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="machine-overview-content">
        <div class="row">
            <div class="col-md-12">
                {% for machine in machine_line %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card mb-4 text-center hover-bg-secondary">
                        <div class="card-body p-5">
                            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-nut text-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.42 2H4.58L1.152 8l3.428 6h6.84l3.428-6-3.428-6zM4.58 1a1 1 0 0 0-.868.504l-3.429 6a1 1 0 0 0 0 .992l3.429 6A1 1 0 0 0 4.58 15h6.84a1 1 0 0 0 .868-.504l3.428-6a1 1 0 0 0 0-.992l-3.428-6A1 1 0 0 0 11.42 1H4.58z"/>
                                  <path fill-rule="evenodd" d="M6.848 5.933a2.5 2.5 0 1 0 2.5 4.33 2.5 2.5 0 0 0-2.5-4.33zM5.067 9.848a3.5 3.5 0 1 1 6.062-3.5 3.5 3.5 0 0 1-6.062 3.5z"/>
                            </svg>
                            <h4 class="card-title">{{machine.machine_name}}</h4>
                            <a href="{% url 'machine_data_machine' machine.line_id machine.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
