
{% extends "maintenance/maintenance_repair_layout.html" %}

{% block title %}Machine Hours{% endblock %}

{% block navbar %}

{% endblock %}



{% block content %}
<div class="table-wrapper">
            <form method="POST">
                {% csrf_token %}
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Maintenance <b>Plan</b></h2>
                    </div>
                    <div class="col-2">
                        <h2 align="right">Hour Update</h2>
                    </div>
                    <div class="col-sm-1">
                        <input type="number" class="form-control form-control-sm" name="hour_update">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary form-control-sm" name="hour_submit">Submit</button>
                    </div>
                </div>
            </div>
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Line</th>
                        <th>Machine Code</th>
                        <th>Machine Name</th>
                        <th>Hour Last Update</th>
                        <th>Machine Hour</th>
                        <th><center>Action</center></th>
                    </tr>
                </thead>
                <tbody>
            {% for mch in machine_all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{mch.line}}</td>
                        <td>{{mch.machine_production_line_code}}</td>
                        <td>{{mch.machine_name}}</td>
                        <td>{{mch.machine_hour_last_update}}</td>
                        <td>{{mch.machine_hour}}</td>
                        <td>
                            <center><input type="checkbox" id="mch_update{{forloop.counter}}" name="mch_update[]" value="{{mch.pk}}"></center>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
            </form>

        </div>

{% endblock %}



{% block script %}
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        var table = $('#myTable').DataTable();-->
<!--    -->
<!--        $('#myTable tbody').on( 'click', 'tr', function () {-->
<!--            $(this).toggleClass('selected');-->
<!--        } );-->
<!--    -->
<!--    } );-->
<!--</script>-->

{% endblock %}

