{% extends 'layout_home.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item">machine</li>
    <li class="breadcrumb-item active">register</li>
{% endblock %}

{% block content %}
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  font-size:18px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>
<br>
<h1 style="color:#1E88E5"><strong>ลงทะเบียน</strong>เครื่องจักร</h1><br>
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <div class="form-group">{{form.To}}</div>-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->

{% for message in messages %}
    <div class="alert info">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <b>Success!</b> {{message}}
    </div>
{% endfor %}

<form method="POST" id="add_machine" data-mch-type-url="{% url 'ajax_machine_type' %}" data-mch-subtype-url="{% url 'ajax_machine_subtype' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" >{{ field.label}}</label>
        <div class="col-sm-3">
            {{ field }}
        </div>
        {% for error in field.errors %}<label style="color:#C22D1E">{{error}}</label>{% endfor %}
    </div>
    {% endfor %}
<!--    <div class="form-group row">-->
<!--        <label class="col-sm-3 col-form-label">Line</label>-->
<!--        <div class="col-sm-3">-->
<!--            <select class="custom-select" name="line" required="" id="id_line">-->
<!--                <option value="0" selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--                {% for line in lines %}-->
<!--                <option value="{{ line.pk }}">{{ line }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--        <label class="col-sm-3 col-form-label">Mch type</label>-->
<!--        <div class="col-sm-3">-->
<!--            <select class="custom-select" name="mch_type" required="" id="id_mch_type">-->
<!--              <option value="0" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group row">-->
<!--        <label class="col-sm-3 col-form-label">Sub type</label>-->
<!--        <div class="col-sm-3">-->
<!--            <select class="custom-select" name="sub_type" required="" id="id_sub_type">-->
<!--              <option value="0" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <input type="submit" value="Save Machine Data" class="btn btn-primary">
</form>

<script>
    $("#id_line").change(function () {
        const url = $("#add_machine").attr("data-mch-type-url");  // get the url of the `load_cities` view
        const lineID = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'line_production': lineID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_mch_type").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#id_line").change(function () {
        const url = $("#add_machine").attr("data-mch-subtype-url");
        const lineID = $(this).val();
        const mch_typeID = 0;
        $.ajax({
            url: url,
            data: {
                'line_production': lineID,
                'mch_type': mch_typeID
            },
            success: function (data) {
                $("#id_sub_type").html(data);
            }
        });
    });
    $("#id_mch_type").change(function () {
        const url = $("#add_machine").attr("data-mch-subtype-url");  // get the url of the `load_cities` view
        const lineID = $("#id_line").val();
        const mch_typeID = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'line_production':lineID,
                'mch_type': mch_typeID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_sub_type").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });

</script>

{% endblock %}
