{% extends 'layout_home.html' %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.back()">Line</a></li>
    <li class="breadcrumb-item active">Machine</li>
{% endblock %}
{% block content %}
<style>
    /* status page */
    ol.breadcrumb {
        background-color: #FAF2F1;
    }
    @media (min-width: 768px) {
        .mb-md-0 {
            margin-bottom: 0!important;
        }
    }
    .col-md-6 {
        position: relative;
    }
    /*  Tabs  */
    .details-tabs .nav.tabs-primary {
        background-color: #fafafa !important;
    }
    .tabs-primary {
        background-color: #1266f1 !important;
    }
    .details-tabs .nav.tabs-primary li.nav-item {
        border-bottom: 1px solid #fafafa;
    }
    .details-tabs .nav.tabs-primary li {
        margin-left: 0;
    }
    .nav-justified .nav-item {
        flex-grow: 1;
        text-align: center;
    }
    .details-tabs .nav.tabs-primary li a.active {
        color: #810000 !important;
        border-color: #810000;
    }
    .details-tabs .nav li a {
        display: block;
        padding: 20px 24px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0;
    }
    .details-tabs .nav li a.active {
        border-bottom: 3px solid;
    }
    .details-tabs .tab-content {
        padding: 1.5rem 0;
    }
</style>
{% csrf_token %}
    <div class="machine-data-header">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Details</span>
            <h3 class="page-title">Machine Data</h3>
            </div>
        </div>
    </div>

    <div class="machine-data-details">
        <section class="mb-5">
            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="row machine-pic mx-1">
                        <div class="col-12 mb-0">
                            <img src="{% static 'machine/img/machine-example-pic.jpg' %}" class="img-fluid">
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    {% for mch in machine %}
                    <h2>{{mch.machine_name}}</h2>
                    <h4>( {{mch.sub_type}} )</h4>
                    <p class="mb-2 text-muted text-uppercase small">Site {{mch.line.location_site}} / Production line {{mch.line.production_line}}</p>
                    <p><span class="mr-1"><strong> ## {{mch.machine_production_line_code}} ##</strong></span></p>
                    <p class="pt-1">รายละเอียดย่อย</p>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="details-tabs">
            <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="specification" aria-selected="true">DETAILS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="specification-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="supplier" aria-selected="false">SPECIFICATION</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="spare-part-tab" data-toggle="tab" href="#spare_part" role="tab" aria-controls="usage" aria-selected="false">SPARE PART</a>
                </li>
              </ul>
              <div class="tab-content" id="advancedTabContent">
                <div class="tab-pane fade active show" id="detail" role="tabpanel" aria-labelledby="specification-tab">
                  <h5>Machine Details</h5>
                  <p class="small text-muted text-uppercase mb-2">Shirts</p>
            
                  <p class="pt-1">รายละเอียดย่อย2</p>
                </div>
                <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="supplier-tab">
                  <h5>Specification Information</h5>
                  <table class="table table-striped table-bordered mt-3">
                    <thead>
                    </thead>
                    <tbody>
                    {% for mch in machine %}
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Brand</th>
                            <td><em>{{mch.machine_brand}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Model</th>
                            <td><em>{{mch.machine_model}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Serial Number</th>
                            <td><em>{{mch.serial_id}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Production Line Code</th>
                            <td><em>{{mch.machine_production_line_code}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Name</th>
                            <td><em>{{mch.machine_name}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Load Capacity</th>
                            <td><em>{{mch.machine_load_capacity}} {{mch.machine_load_capacity_unit}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Power (KWatt/Hour)</th>
                            <td><em>{{mch.machine_power_use_kwatt_per_hour}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Install Date</th>
                            <td><em>{{mch.machine_installed_datetime}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Start Date</th>
                            <td><em>{{mch.machine_start_use_datetime}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine Supplier Code</th>
                            <td><em>{{mch.machine_supplier_code}}</em></td>
                        </tr>
                        <tr>
                            <th scope="row" class="w-150 dark-grey-text h6">Machine EMP ID</th>
                            <td><em>{{mch.machine_emp_id_response}}</em></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="spare_part" role="tabpanel" aria-labelledby="spare-part-tab">
                    <h5>Spare Part of Machine</h5>
                    <table class="table table-striped table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Model</th>
                                <th>Code</th>
                                <th>Type</th>
                                <th>Subtype</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mch_and_spare_part in spare_part_of_mch %}
                            <tr>
                                <td>{{mch_and_spare_part.spare_part.spare_part_name}}</td>
                                <td>{{mch_and_spare_part.spare_part.spare_part_model}}</td>
                                <td>{{mch_and_spare_part.spare_part.spare_part_code}}</td>
                                <td>{{mch_and_spare_part.spare_part.spare_part_type}}</td>
                                <td>{{mch_and_spare_part.spare_part.spare_part_sub_type}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>
    </div>
{% endblock %}
