{% extends 'layout_machinemanage.html' %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="{% url 'machinedata' %}">Machine Data</a></li>
    <li class="breadcrumb-item active">Machine Name</li>
{% endblock %}
{% block content %}
<style>
    /* status page */
    ol.breadcrumb {
        background-color: #FAF2F1;
    }
    @media (min-width: 768px) {
        .mb-md-0 {
            margin-bottom: 0!important;
        }
    }
    .col-md-6 {
        position: relative;
    }
    /*  Tabs  */
    .details-tabs .nav.tabs-primary {
        background-color: #fafafa !important;
    }
    .tabs-primary {
        background-color: #1266f1 !important;
    }
    .details-tabs .nav.tabs-primary li.nav-item {
        border-bottom: 1px solid #fafafa;
    }
    .details-tabs .nav.tabs-primary li {
        margin-left: 0;
    }
    .nav-justified .nav-item {
        flex-grow: 1;
        text-align: center;
    }
    .details-tabs .nav.tabs-primary li a.active {
        color: #810000 !important;
        border-color: #810000;
    }
    .details-tabs .nav li a {
        display: block;
        padding: 20px 24px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0;
    }
    .details-tabs .nav li a.active {
        border-bottom: 3px solid;
    }
    .details-tabs .tab-content {
        padding: 1.5rem 0;
    }
</style>
{% csrf_token %}
    <div class="machine-data-header">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Details</span>
            <h3 class="page-title">Machine Data</h3>
            </div>
        </div>
    </div>

    <div class="machine-data-details">
        <section class="mb-5">
            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="row machine-pic mx-1">
                        <div class="col-12 mb-0">
                            <img src="{% static 'img/machine-example-pic.jpg' %}" class="img-fluid">
                        </div>

                    </div>
                </div>
                <div class="col-md-6">

                    <h5>Sponge</h5>
                    <p class="mb-2 text-muted text-uppercase small">Production line 1</p>
                 
                    <p><span class="mr-1"><strong> ## Machine ID ##</strong></span></p>
                    <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                      error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                      officia quis dolore quos sapiente tempore alias.</p>
                  </div>
            </div>
        </section>
        <div class="details-tabs">
            <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active show" id="specification-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="true">Specification</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="supplier-tab" data-toggle="tab" href="#supplier" role="tab" aria-controls="supplier" aria-selected="false">Supplier</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="usage-tab" data-toggle="tab" href="#usage" role="tab" aria-controls="usage" aria-selected="false">Usage</a>
                </li>
              </ul>
              <div class="tab-content" id="advancedTabContent">
                <div class="tab-pane fade active show" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                  <h5>Machine Specification</h5>
                  <p class="small text-muted text-uppercase mb-2">Shirts</p>
            
                  <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                    error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                    officia quis dolore quos sapiente tempore alias.</p>
                </div>
                <div class="tab-pane fade" id="supplier" role="tabpanel" aria-labelledby="supplier-tab">
                  <h5>Supplier Information</h5>
                  <table class="table table-striped table-bordered mt-3">
                    <thead>
                      <tr>
                        <th scope="row" class="w-150 dark-grey-text h6">Weight</th>
                        <td><em>0.3 kg</em></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="w-150 dark-grey-text h6">Dimensions</th>
                        <td><em>50 × 60 cm</em></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="usage" role="tabpanel" aria-labelledby="usage-tab">
                  <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                    error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                    officia quis dolore quos sapiente tempore alias.</p>
                </div>
        
            </div>
        </div>
    </div>
{% endblock %}