{% extends 'layout_home.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item">machine</li>
    <li class="breadcrumb-item active">update</li>
{% endblock %}
{% block content %}
<br>
<H1 style="color:#1E88E5"><center>Machine <strong>Update Data</strong></center></H1>
<br>
<table class="table table-striped table-hover" id="myTabe" >
        <thead>
            <tr>
                <th colspan="15" scope="colgroup"><center>Machine</center></th>
            </tr>
            <tr style="text-align:center;">
                <th style="vertical-align:middle;">No</th>
                <th hidden>Machine ID</th>
                <th>mSerial ID</th>
                <th style="vertical-align:middle;">mCode</th>
                <th style="vertical-align:middle;">mName</th>
                <th style="vertical-align:middle;">mType</th>
                <th style="vertical-align:middle;">mBrand</th>
                <th style="vertical-align:middle;">mModel</th>
                <th style="vertical-align:middle;">pLine</th>
                <th>Action</th>
            </tr>
        </thead>
        <form method="POST" action="{% url 'machineedit' %}">
            {% csrf_token %}
        <tbody>
    {% for machine in User_org_machine_line %}
            <tr align="center">
                <td>{{forloop.counter}}</td>
                <td hidden>{{machine.machine_id}}</td>
                <td>{{machine.serial_id}}</td>
                <td>{{machine.machine_production_line_code}}</td>
                <td>{{machine.machine_name}}</td>
                <td>{{machine.mch_type}}</td>
                <td>{{machine.machine_brand}}</td>
                <td>{{machine.machine_model}}</td>
                <td>{{machine.line.production_line}}</td>
                <td>
                    &nbsp;&nbsp;<button type="submit" class="btn btn-outline-primary" value="{{machine.machine_id}}" name="edit_mch_id">Edit</button>
                </td>
            </tr>
    {% endfor %}
        </tbody>
        </form>
</table>
{% endblock %}
