{% extends 'layout_home.html' %}
{% block content %}

<H1 style="color:#1E88E5"><center><strong>แก้ไข</strong>ข้อมูลเครื่องจักร</center></H1><br>

<form method="POST" id="mch_edit" data-mch-type-url="{% url 'ajax_machine_type' %}" data-mch-subtype-url="{% url 'ajax_machine_subtype' %}">
    {% csrf_token %}
    {% for machine in get_machine %}
    <div class="form-group row" hidden>
        <label class="col-sm-3 col-form-label" for="Machine_ID">Machine ID : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_id" id="edit_machine_id" value="{{machine.machine_id}}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="Serial_ID">Serial ID : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_serial_id" id="edit_serial_id" value="{{machine.serial_id}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_code">Machine Code : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_code" id="edit_machine_code" value="{{machine.machine_production_line_code}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_name">Machine Name : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_name" id="edit_machine_name" value="{{machine.machine_name}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="line">Machine Production Line</label>
        <div class="col-sm-3">
            <select class="form-control" id="select_pline" name="select_pline">
<!--                <option value="{{machine.line_id}}" >{{machine.line}}</option>-->
                {% for line in list_line %}
                <option value="{{line.pk}}" {% if line.production_line == machine.line.production_line %} selected {% endif %}>{{line}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_type">Machine Type : </label>
        <div class="col-sm-3">
            <select class="form-control" id="select_mtype" name="select_mtype">
                <option value="{{machine.mch_type_id}}" >{{machine.mch_type}}</option>
<!--                {% for mtype in list_mtype %}-->
<!--                <option value="{{mtype.mtype_id}}" {% if mtype.mtype_name == machine.machine_type.mtype_name %} selected {% endif %}>{{mtype}}</option>-->
<!--                {% endfor %}-->
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_type">Machine Sub Type : </label>
        <div class="col-sm-3">
            <select class="form-control" id="select_stype" name="select_stype">
                <option value="{{machine.sub_type_id}}" >{{machine.sub_type}}</option>
<!--                {% for stype in list_stype %}-->
<!--                <option value="{{stype.subtype_id}}" {% if stype.subtype_code == machine.mch_type.subtype_code %} selected {% endif %}>{{stype}}</option>-->
<!--                {% endfor %}-->
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_brand">Machine Brand : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_brand" id="edit_machine_brand" value="{{machine.machine_brand}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_model">Machine Model : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_model" id="edit_machine_model" value="{{machine.machine_model}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_supplier_code">Machine Supplier Code : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_supplier_code" id="edit_machine_supplier_code" value="{{machine.machine_supplier_code}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_location_id">Machine Location ID : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_location_id" id="edit_machine_location_id" value="{{machine.machine_location_id}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_emp_id_response">Machine EMP ID : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_emp_id_response" id="edit_machine_emp_id_response" value="{{machine.machine_emp_id_response}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_capacity_per_minute">Machine Capacity/Min : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_capacity_per_minute" id="edit_machine_capacity_per_minute" value="{{machine.machine_capacity_per_minute}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_capacity_measure_unit">Machine Capacity Unit : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_capacity_measure_unit" id="edit_machine_capacity_measure_unit" value="{{machine.machine_capacity_measure_unit}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_power_use_watt_per_hour">Machine Power (Watt/Hour) : </label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="edit_machine_power_use_watt_per_hour" id="edit_machine_power_use_watt_per_hour" value="{{machine.machine_power_use_watt_per_hour}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_installed_datetime">Machine Install :</label>
        <div class="col-sm-3">
            <input type="date" class="form-control" name="edit_machine_installed_datetime" id="edit_machine_installed_datetime" value="{{machine.machine_start_use_datetime|date:"Y-m-d"}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="machine_start_use_datetime">Machine Start : </label>
        <div class="col-sm-3">
            <input type="date" class="form-control" name="edit_machine_start_use_datetime" id="edit_machine_start_use_datetime" value="{{machine.machine_start_use_datetime|date:"Y-m-d"}}">
        </div>
    </div>

    <input type="submit" value="Update machine data" class="btn btn-primary" name="mch_update">
    {% endfor %}
</form>

<script>
    $("#select_pline").change(function () {
        const url = $("#mch_edit").attr("data-mch-type-url");  // get the url of the `load_cities` view
        const lineID = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'line_production': lineID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#select_mtype").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#select_pline").change(function () {
        const url = $("#mch_edit").attr("data-mch-subtype-url");
        const lineID = $(this).val();
        const mch_typeID = 0;
        $.ajax({
            url: url,
            data: {
                'line_production': lineID,
                'mch_type': mch_typeID
            },
            success: function (data) {
                $("#select_stype").html(data);
            }
        });
    });
    $("#select_mtype").change(function () {
        const url = $("#mch_edit").attr("data-mch-subtype-url");  // get the url of the `load_cities` view
        const lineID = $("#select_pline").val();
        const mch_typeID = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'line_production':lineID,
                'mch_type': mch_typeID       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#select_stype").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });

</script>
{% endblock %}
