{% extends 'layout_home.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item">machine</li>
    <li class="breadcrumb-item active">search</li>
{% endblock %}
{% block content %}


<H1 style="color:#1E88E5"><center><strong>Searching </strong>Machine Data</center></H1><br>

<form method="GET">
    {{ filtered_machine.form}}
    <input type="submit" value="Searching" class="btn btn-primary">
</form>
<br><br>
<table class="table table-striped table-hover" id="myTabe">
        <thead>
            <tr>
                <th colspan="15" scope="colgroup"><center>Machine</center></th>
            </tr>
            <tr style="text-align:center;">
                <th style="vertical-align:middle;">No</th>
                <th hidden>Machine ID</th>
                <th>mSerial ID</th>
                <th style="vertical-align:middle;">mCode</th>
                <th style="vertical-align:middle;">mName</th>
                <th style="vertical-align:middle;">mType</th>
                <th style="vertical-align:middle;">subType</th>
                <th style="vertical-align:middle;">mBrand</th>
                <th style="vertical-align:middle;">mModel</th>
                <th style="vertical-align:middle;">pLine</th>
            </tr>
        </thead>
        <tbody>
    {% for machine in filtered_machine.qs %}
            <tr align="center">
                <td>{{forloop.counter}}</td>
                <td hidden>{{machine.machine_id}}</td>
                <td>{{machine.serial_id}}</td>
                <td>{{machine.machine_production_line_code}}</td>
                <td width="100">{{machine.machine_name}}</td>
                <td>{{machine.subtype.mchtype}}</td>
                <td>{{machine.subtype}}</td>
                <td>{{machine.machine_brand}}</td>
                <td>{{machine.machine_model}}</td>
                <td>{{machine.line.production_line}}</td>
            </tr>
    {% endfor %}
        </tbody>
</table>
{% endblock %}
