{% extends 'layout_home.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item">machine</li>
    <li class="breadcrumb-item active">register</li>
{% endblock %}
{% block content %}
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  font-size:18px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>

<h1 style="color:#1E88E5">Machine <strong>Register</strong></h1><br>
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <div class="form-group">{{form.To}}</div>-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->

{% for message in messages %}
    <div class="alert info">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <b>Success!</b> {{message}}
    </div>
{% endfor %}

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label}} {{ field }} {% for error in field.errors %}<label style="color:#C22D1E">{{error}}</label>{% endfor %}
    </div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}
