<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Production Line Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <script>
        $(document).ready(function(){
            $("#setting").on("show.bs.modal", function(event){
                // Get the button that triggered the modal
                var button = $(event.relatedTarget);

                // Extract value from the custom data-* attribute
                var titleData = button.data("title");
                $(this).find(".modal-title").text(titleData);
            });
        });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/container-fluid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/form-group.css' %}">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #f5f5f5;">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="/static/img/farmhouse_logo copy.gif" height="65" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'organization' %}" class="nav-item nav-link">Organize Manage</a>
                <a href="{% url 'productionline' %}" class="nav-item nav-link active"><b>ProductionLine Manage</b></a>
                <a href="{% url 'location' %}" class="nav-item nav-link">Location</a>
                <a href="{% url 'org_prodline' %}" class="nav-item nav-link">Organize&Line</a>
                <a href="{% url 'productmanage' %}" class="nav-item nav-link ">Product Manage</a>
            </div>
            <form method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                <ul class="nav navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link" style="color:#B22222">{{User_login.username}}</a>
                    <button type="submit" class="btn btn-outline-secondary" name="signout">Sign out</button>
                </ul>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="table-responsive">
        {% for message in messages %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{message}}
          </div>
        {% endfor %}
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Production Line <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="#createprodline" class="btn btn-secondary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Line</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Production Line</th>
                        <th>Location Site</th>
                        <th>Location Building</th>
                        <th>Location Floor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
            {% for line in lines %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="#"><img src="/static/img/company.png" width="30" height="30">&nbsp;&nbsp;{{line.production_line}}</a></td>
                        <td>{{line.location_site}}</td>
                        <td>{{line.location_building}}</td>
                        <td>{{line.location_floor}}</td>
                        <td>
                            <a href="#setting{{line.pid}}" class="settings" title="Settings" data-toggle="modal"><i class="material-icons">&#xE8B8;</i></a>
                            <a href="#delete{{line.pid}}" class="delete" title="Delete" data-toggle="modal"><i class="material-icons">&#xE5C9;</i></a>
                        </td>
                    </tr>

            <!-- Modal Setting -->
            <div id="setting{{line.pid}}" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="POST" id="form_prodline{{forloop.counter}}" data-building-url="{% url 'ajax_load_building' %}" data-floor-url="{% url 'ajax_load_floor' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Setting</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" hidden>
                                    <label>ProductionID</label>
                                    <input type="text" id="set_prodline_id{{forloop.counter}}" class="form-control" value="{{line.pid}}" name="set_prodline_id" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Production Line</label>
                                    <input type="text" id="set_production_line{{forloop.counter}}" class="form-control" value="{{line.production_line}}" name="set_production_line">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Location Site</label>
                                    <select class="form-control" id="select_site{{forloop.counter}}" name="select_site">
<!--                                        <option value="0">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;สถานที่โรงงาน-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                                        <option value="{{site.id}}">สถานที่โรงงาน : {{line.location_site}}</option>
<!--                                    {% for site in sites %}-->
<!--                                        <option value="{{site.id}}">{{site}}</option>-->
<!--                                    {% endfor %}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Location Building</label>
                                    <select class="form-control" id="select_building{{forloop.counter}}" name="select_building">
<!--                                        <option value="0" selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;อาคารที่-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                                        <option value="{{line.location_building_id}}" selected>อาคารที่ : {{line.location_building}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Location Floor</label>
                                    <select class="form-control" id="select_floor{{forloop.counter}}" name="select_floor">
<!--                                        <option value="0" selected>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;ชั้นที่อยู่ของอาคาร-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                                        <option value="{{line.location_floor_id}}" selected>ชั้น : {{line.location_floor}}</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" name="Editprodline">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Delete -->
            <div id="delete{{line.pid}}" class="modal fade" tabindex="-1" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="del_org{{line.pid}}" class="form-control" value="Production Line (ID:{{line.pid}}) : {{line.location_building}} / Line {{line.production_line}}" name="del_org" readonly>
                            <br><p>Do you want to delete this production line?</p>
                            <p class="text-secondary"><small>If you change your mind, please click cancel.</small></p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" value="{{line.pid}}" name="delete_line">Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Modal Adduser -->
            <div id="createprodline" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="POST" id="add_prodline_script" data-building-url="{% url 'ajax_load_building' %}" data-floor-url="{% url 'ajax_load_floor' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title">Add new organization</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Production Line</label>
                                    <input type="text" id="add_prodline" class="form-control" name="add_prodline" placeholder="เลขไลน์การผลิต" autocomplete="off" maxlength="10" required="True">
                                </div>
                                <div class="form-group">
                                    <label>Location Site</label>
                                    <select class="form-control" id="add_select_site" name="add_select_site" required="True">
                                        <option value="">---------สถานที่โรงงาน---------</option>
                                        {% for site in sites %}
                                        <option value="{{site.id}}">{{site}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Location Building</label>
                                    <select class="form-control" id="add_select_building" name="add_select_building" required="True">
                                        <option value="" selected>---------อาคารที่---------</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Location Floor</label>
                                    <select class="form-control" id="add_select_floor" name="add_select_floor" required="True">
                                        <option value="" selected>---------ชั้นที่อยู่ของอาคาร---------</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" name="Addprodline">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<script>
    $("#add_select_site").change(function () {
        const url = $("#add_prodline_script").attr("data-building-url");  // get the url of the `load_cities` view
        const siteId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'location_site_id': siteId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#add_select_building").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
    $("#add_select_site").change(function () {
            const url = $("#add_prodline_script").attr("data-floor-url");  // get the url of the `load_cities` view
            const siteId = $(this).val();  // get the selected country ID from the HTML input
            const buildingId = 0;

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'location_site_id': siteId,       // add the country id to the GET parameters
                    'location_building_id': buildingId
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#add_select_floor").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    $("#add_select_building").change(function () {
        const url = $("#add_prodline_script").attr("data-floor-url");  // get the url of the `load_cities` view
        const siteId = $("#add_select_site").val();
        const buildingId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'location_site_id':siteId,
                'location_building_id': buildingId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#add_select_floor").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>
<script>
    var i;
    for (i = 0; i <= {{lines|length}}; i++) {
        $("#select_site"+i).change(function () {
            var numID = this.id.substring(11,);
            const url = $("#form_prodline"+numID).attr("data-building-url");  // get the url of the `load_cities` view
            const siteId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'location_site_id': siteId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#select_building"+numID).html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    }
</script>
<script>
    var i;
    for (i = 0; i <= {{lines|length}}; i++)
    {
        $("#select_site"+i).change(function () {
            var numID = this.id.substring(11,);
            const url = $("#form_prodline"+numID).attr("data-floor-url");  // get the url of the `load_cities` view
            const siteId = $(this).val();  // get the selected country ID from the HTML input
            const buildingId = 0;

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'location_site_id': siteId,       // add the country id to the GET parameters
                    'location_building_id': buildingId
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#select_floor"+numID).html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
        $("#select_building"+i).change(function () {
            var numID = this.id.substring(15,);
            const url = $("#form_prodline"+numID).attr("data-floor-url");  // get the url of the `load_cities` view
            const siteId = $("#select_site"+numID).val();
            const buildingId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'location_site_id': siteId,
                    'location_building_id': buildingId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#select_floor"+numID).html(data);  // replace the contents of the city input with the data that came from the server
                }
            });
        });
    }
</script>

</body>
</html>
